html {
    margin: 10px;
    padding: 0;
    height: 100%;
}



body {
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    color: black;
}

.Classes{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Classes h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.box1{
    color: black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.box2{
    color: black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.box3{
    color: black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.box5{
    float: left;
    color: black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.box8{

    color: black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}

.circlish-square {
    float : right;
    width: 250px; 
    height: 250px; 
    border-radius: 10%; 
    object-fit: cover;
    border: 5px solid #fff; 
}

.circlish-square-right {
    float : left;
    width: 250px; 
    height: 250px; 
    border-radius: 10%; 
    object-fit: cover;
    border: 5px solid #fff; 
}

footer {
    position: absolute; 
    bottom: 1;
    width: 100%; 
    background-color: #f5f5f5; 
    padding: 20px;
}
